In [1]:
import torch

In [2]:
x = torch.arange(12)
x

tensor([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11])

In [3]:
x.shape

torch.Size([12])

In [4]:
x.numel()

12

In [5]:
X = x.reshape(3, 4)
X

tensor([[ 0,  1,  2,  3],
        [ 4,  5,  6,  7],
        [ 8,  9, 10, 11]])

In [6]:
X.shape

torch.Size([3, 4])

In [7]:
X.numel()

12

In [8]:
X.sum()

tensor(66)

In [9]:
# 广播机制
a = torch.arange(3).reshape(3,1)
b = torch.arange(2).reshape(1,2)
a,b

(tensor([[0],
         [1],
         [2]]),
 tensor([[0, 1]]))

In [10]:
a+b

tensor([[0, 1],
        [1, 2],
        [2, 3]])

In [13]:
X[-1],X[1:2]

(tensor([ 8,  9, 10, 11]), tensor([[4, 5, 6, 7]]))

In [14]:
X[1,2]=17
X

tensor([[ 0,  1,  2,  3],
        [ 4,  5, 17,  7],
        [ 8,  9, 10, 11]])

In [15]:
# 避免内存重新分配
# 使用视图避免内存重新分配

In [17]:
A = X.numpy()
B = torch.tensor(A)
type(A), type(B)

(numpy.ndarray, torch.Tensor)

In [25]:
# 数据预处理
import os
os.makedirs(os.path.join('..', 'data'), exist_ok=True)
data_file=os.path.join('..', 'data', 'house_tiny.csv')
with open(data_file, 'w') as f:
    f.write('NumRooms, Alley, Price\n')
    f.write('NA,Pave,127500\n')
    f.write('2.0,NA,131500\n')
    f.write('4,NA,164500\n')
    f.write('NA,NA,140500\n')

In [57]:
import pandas as pd

csv_data = pd.read_csv(data_file)
csv_data

   NumRooms  Alley   Price
0       NaN   Pave  127500
1       2.0    NaN  131500
2       4.0    NaN  164500
3       NaN    NaN  140500

In [72]:
# input_data, output_data = csv_data.iloc[:,0:2], csv_data.iloc[:,2:]
input_data, output_data = csv_data.iloc[:,0:2], csv_data.iloc[:,2:]
input_data, output_data

(   NumRooms  Alley
 0       NaN   Pave
 1       2.0    NaN
 2       4.0    NaN
 3       NaN    NaN,
     Price
 0  127500
 1  131500
 2  164500
 3  140500)

In [73]:
#input_data = input_data.fillna(input_data.mean())
input_data = input_data.fillna(input_data.mean(numeric_only=1))
input_data

   NumRooms  Alley
0       3.0   Pave
1       2.0    NaN
2       4.0    NaN
3       3.0    NaN

In [75]:
# torch2.0 会默认使用 True 和 False 替换掉 0和1 需要增加一个属性 dtype=float
input_data = pd.get_dummies(input_data, dummy_na=True, dtype=float)
input_data

   NumRooms   Alley_Pave   Alley_nan
0       3.0          1.0         0.0
1       2.0          0.0         1.0
2       4.0          0.0         1.0
3       3.0          0.0         1.0

In [76]:
X, y = torch.tensor(input_data.values), torch.tensor(output_data.values)
X, y

(tensor([[3., 1., 0.],
         [2., 0., 1.],
         [4., 0., 1.],
         [3., 0., 1.]], dtype=torch.float64),
 tensor([[127500],
         [131500],
         [164500],
         [140500]]))

In [78]:
import pandas as pd

data = pd.DataFrame({
    'color': ['red', 'blue', 'green', 'blue', 'red'],
    'size': ['S', 'M', 'L', 'M', 'S']
})

# 使用 get_dummies 转换
dummy_data = pd.get_dummies(data)
data, dummy_data

(   color size
 0    red    S
 1   blue    M
 2  green    L
 3   blue    M
 4    red    S,
    color_blue  color_green  color_red  size_L  size_M  size_S
 0       False        False       True   False   False    True
 1        True        False      False   False    True   False
 2       False         True      False    True   False   False
 3        True        False      False   False    True   False
 4       False        False       True   False   False    True)